(
    st_opts: (
        scroll_rate: Millis(
            num: 5,
            ms: 743,
        ),
        disp_by: Word,
        stories_directory: "stories",
    ),
    file_ignore_patterns: [
        "*~",
    ],
)